@import "tailwindcss";

@layer utilities  {
  body {
    @apply relative w-4/5 mx-auto bg-white;
  }

  body::before {
    content: "";
    @apply fixed w-full h-full bg-[#fdedee] left-0 top-0 -z-10;
    clip-path: ellipse(50% 100% at left center);
  }

  .icon{
    @apply text-brown-normal text-[1.5rem] cursor-pointer
    
  }
  p, h1, h2, h3, h4,  input, select, label, legend, span{
    @apply text-blue
    
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }
  h4{
    @apply text-[1.3rem];
  }

 p, legend{
    @apply text-base;
  }

  .modal, .card{
    @apply bg-white rounded-md shadow p-8
  }
}

@theme {
  /* Variavéis de FONTE  */
  --font-sans: "Dosis", serif;

  /* Variaveis das CORES  */
  /* --color-*: initial; */
  --color-gray-claro: #f1f1f1;
  --color-gray-medio: #a9a9a9;
  --color-green: #b5c865;
  --color-blue: #374957;
  --color-brown-ligth: #fdedee;
  --color-brown-ligth-active: #fac8cb;
  --color-brown-normal: #ee4c58;
  --color-brown-dark: #c0434d;
}
