@import "tailwindcss";

@theme {
  --font-sans: "Dosis", serif;

  --color-*: initial;
  --color-blue: #374957;
  --color-blue-dark: #3b5997;
  --color-brown-dark: #c0434d;
  --color-brown-light: #fdedee;
  --color-brown-light-active: #fac8cb;
  --color-brown-normal: #ee4c58;
  --color-gray-light: #f1f1f1;
  --color-gray-medium: #a9a9a9;
  --color-green: #b5c865;

  --color-white: #fff;
  --color-black: #000;
}

@layer base {
  body {
    @apply text-blue relative mx-auto w-4/5 bg-white;
  }

  body::before {
    content: "";
    @apply bg-brown-light fixed top-0 left-0 -z-10 h-full w-full;
    clip-path: ellipse(50% 100% at left center);
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }
}

@layer utilities {
  .icon {
    @apply text-brown-normal hover:text-brown-dark cursor-pointer text-2xl transition-colors;
  }

  .card,
  .modal {
    @apply rounded-md bg-white p-8 shadow;
  }

  .input {
    @apply bg-gray-light outline-gray-medium mt-1 w-full rounded-sm px-4 py-3 [&::-ms-reveal]:hidden;
  }
}
