@import "tailwindcss";

@layer utilities {
  body {
    @apply relative mx-auto w-4/5 bg-white;
  }

  body::before {
    content: "";
    @apply bg-brown-light fixed top-0 left-0 -z-10 h-full w-full;
    clip-path: ellipse(50% 100% at left center);
  }

  .icon {
    @apply text-brown-normal hover:text-brown-dark cursor-pointer text-2xl;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  input,
  select,
  label,
  legend,
  span {
    @apply text-blue;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }

  p,
  legend {
    @apply text-base;
  }

  .modal,
  .card {
    @apply rounded-md bg-white p-8 shadow;
  }
}

@theme {
  /* Variavéis de FONTE  */
  --font-sans: "Dosis", serif;

  /* Variaveis das CORES  */
  --color-*: initial;
  --color-gray-light: #f1f1f1;
  --color-gray-medium: #a9a9a9;
  --color-green: #b5c865;
  --color-blue: #374957;
  --color-brown-light: #fdedee;
  --color-brown-light-active: #fac8cb;
  --color-brown-normal: #ee4c58;
  --color-brown-dark: #c0434d;
  --color-white: #fff;
  --color-black: #000;
}
